@{
    ViewData["Title"] = "Home Page";
}

<style>
    .image-box img{
       width:90%;
    }
</style>
<div class="text-center">
    
    <div class="image-box">
        <img src="~/images/59bd9cc8epm.jpg" />
    </div>

</div>
